---
import StickySidebar from '../basic/StickySidebar.astro'
import Feature from '../../ui/FeatureInicio.astro'

type FeatureData = {
	title: string
	icon: string
	description: string
	servicio: string
	pdf: string
	orden: number
}
type Props = {
	title: string
	text?: string
	data: FeatureData[]
	classes?: string
	servicio?: string
	pdf?: string
	orden?: number
}
const { title, text, data, classes, servicio, pdf, orden } = Astro.props
---

<StickySidebar classes={classes}>
	<header slot="sidebar">
		{title && <h3 class="text-3xl font-bold mb-4">{title}</h3>}
		{text && <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-300">{text}</p>}
	</header>

	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
		{data.map((feature: FeatureData) => (
			<Feature 
			  title={feature.title} 
			  orden={feature.orden} 
			  icon={feature.icon} 
			  color="indigo" 
			  servicio={feature.servicio} 
			  pdf={feature.pdf}
			>
			  {feature.description}
			</Feature>
		  ))}
		  
	</div>
</StickySidebar>
