---
// Contact Hero Section
// ------------
// Description: A hero section with a contact form

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import Button from '../../ui/Button.astro'
import { Image } from 'astro:assets'
import badge from '../../../assets/badge.svg'
// - UI
import Form from '../contact/BasicForm.astro'

// Props
type Props = {
	id?: string
	title?: string
	text?: string
	texto?: string
	classes?: string
}
const { id, title, text, texto, classes } = Astro.props

const imagePath = (file: string, folder: string) => `/assets/${folder}/${file}`;
---

<Section id={id} classes={classes}>
	<Row>
		<Col span="6" classes={`self-center`}>
			<header class="max-w-xl">
				<h1 set:html={title} />
				<p class="text-lg leading-relaxed">{text}</p>
				<p class="text-lg leading-relaxed">{texto}</p>

				<div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Misión</h1>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            Fomentar un ambiente colaborativo y de apoyo donde todos los estudiantes puedan aprender y desarrollar habilidades matemáticas, superando desafíos y fortaleciendo la confianza en su capacidad para resolver problemas.
                        </p>
                    </div>
                </div>

				<div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h1 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Visión</h1>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            Ser un grupo de estudio inclusivo y motivador, reconocido por su compromiso con la excelencia académica en matemáticas, donde cada miembro se sienta empoderado para alcanzar su máximo potencial y desarrollar una pasión duradera por el aprendizaje.
                        </p>
                    </div>
                </div>
				
			</header>
		</Col>
		<Col span="6" classes="relative">
			<img class="w-64 h-64 object-cover xl:w-96 xl:h-96 rounded-full"
			src={imagePath('gabriel.jpeg', 'nosotros')}
			alt="">
            
            <Image src={badge} alt="Product of the Year" class="h-12 w-12" slot="button" />

            <Button size="lg" style="primary">  Constancia Sunedu </Button>
		</Col>
	</Row>
</Section>
