---
// Contact Hero Section
// ------------
// Description: A hero section with a contact form

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import { Image } from 'astro:assets'
import badge from '../../../assets/badge.svg'

// Props
type Props = {
	id?: string
	title?: string
	text?: string
	texto?: string
	classes?: string
}
const { id, title, text, texto, classes } = Astro.props

const imagePath = (file: string, folder: string) => `/assets/${folder}/${file}`;
---

<Section id={id} classes={`bg-white dark:bg-neutral-950 ${classes ?? ''}`}>
	<!-- Introducción completa -->
	<Row>
		<Col span="12" align="center">
			<header class="max-w-3xl mx-auto text-center">
				<h1 set:html={title} class="text-4xl font-extrabold text-primary-500 mb-4" />
				<p class="text-lg leading-relaxed text-neutral-700 dark:text-neutral-300 mb-2">{text}</p>
				<p class="text-lg leading-relaxed text-neutral-700 dark:text-neutral-300">{texto}</p>
			</header>
		</Col>
	</Row>

	<!-- Contenido dividido: Misión + Visión | Imagen -->
	<Row classes="mt-12">
		<!-- Columna izquierda: Misión y Visión -->
		<Col span="6" classes="flex flex-col gap-10 justify-center">
			<!-- Misión -->
			<div class="flex gap-4 items-start">
				<span class="flex items-center justify-center w-16 h-16 rounded-xl bg-primary-50 dark:bg-primary-500/10 text-primary-500 dark:text-primary-400">
					<svg class="w-32 h-32" fill="#0099FF" width="256px" height="256px" viewBox="-3.2 -3.2 38.40 38.40" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke="#0099FF"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0.6400000000000006,0.6400000000000006), scale(0.96)"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#000000" stroke-width="0.064"></g><g id="SVGRepo_iconCarrier"> <title>open-eye</title> <path d="M0 16q0.064 0.192 0.192 0.512t0.576 1.248 0.992 1.888 1.344 2.176 1.792 2.368 2.144 2.176 2.592 1.888 2.976 1.248 3.392 0.512q2.208 0 4.288-0.768t3.616-2.016 2.912-2.72 2.304-3.008 1.6-2.72 0.96-1.984l0.32-0.8q-0.064-0.16-0.192-0.48t-0.576-1.28-0.992-1.856-1.344-2.208-1.792-2.336-2.144-2.176-2.56-1.888-3.008-1.28-3.392-0.48q-2.208 0-4.288 0.768t-3.616 2.016-2.912 2.72-2.304 2.976-1.6 2.72-0.96 2.016zM6.016 16q0-2.72 1.344-5.024t3.616-3.616 5.024-1.344q2.048 0 3.872 0.8t3.2 2.112 2.144 3.2 0.8 3.872q0 2.72-1.344 5.024t-3.648 3.648-5.024 1.344q-2.016 0-3.872-0.8t-3.2-2.144-2.144-3.168-0.768-3.904zM10.016 16q0 2.496 1.728 4.256t4.256 1.76 4.256-1.76 1.76-4.256-1.76-4.224-4.256-1.76q-0.96 0-1.984 0.352v3.648h-3.648q-0.352 0.992-0.352 1.984z"></path> </g></svg>
				</span>
				<div>
					<h2 class="text-xl font-semibold text-neutral-800 dark:text-white">Misión</h2>
					<p class="mt-2 text-neutral-600 dark:text-neutral-300">
						Fomentar un ambiente colaborativo y de apoyo donde todos los estudiantes puedan aprender y desarrollar habilidades matemáticas, superando desafíos y fortaleciendo la confianza en su capacidad para resolver problemas.
					</p>
				</div>
			</div>

			<!-- Visión -->
			<div class="flex gap-4 items-start">
				<span class="flex items-center justify-center w-16 h-16 rounded-xl bg-primary-50 dark:bg-primary-500/10 text-primary-500 dark:text-primary-400">
					<svg  class="w-32 h-32"  viewBox="0 0 236 236" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M112.6 0.999963C110.8 2.99996 110.7 3.99996 110.7 23.5C110.7 33.9 110.6 42.4 110.4 42.4C108.8 42.4 100.8 44 96.9 45.1C71.5 52.2 51.4 72.6 44.4 98.2C43.6 101.1 42.1 109 42.1 110.3C42.1 110.5 33.7 110.7 23.5 110.7C4.20001 110.7 3.20001 110.8 1.20001 112.6C0.300012 113.5 0.200012 114 0.200012 118C0.200012 122 0.300012 122.6 1.20001 123.4C3.20001 125.2 4.20001 125.3 23.5 125.3C33.7 125.3 42.1 125.4 42.1 125.6C42.1 126.9 43.6 134.9 44.4 137.7C50.4 159.5 65.2 177.1 85.5 186.8C93 190.3 100.3 192.6 108.6 193.7L110.8 194V212.6C110.8 231.9 110.9 232.8 112.7 234.9C113.6 235.8 114.1 235.9 118.1 235.9C122.1 235.9 122.7 235.8 123.5 234.8C125.3 232.8 125.4 231.8 125.4 212.6V194L127.6 193.7C142.5 191.6 156 185.6 167.7 175.8C181.5 164.1 191.2 146.3 193.8 127.5L194.1 125.3H212.7C232 125.3 232.9 125.2 235 123.4C235.9 122.5 236 122 236 118C236 114 235.9 113.4 235 112.6C233 110.8 232 110.7 212.7 110.7H194.1L193.8 108.5C189.1 74.7 163.7 48.6 130 43.1C127.8 42.7 125.9 42.5 125.7 42.5C125.5 42.5 125.3 34.1 125.3 23.9C125.3 11.8 125.1 4.79996 124.8 3.89996C124.6 3.19996 123.8 2.09996 123.1 1.29996C122 0.0999631 121.7 0.0999633 117.7 0.0999633C114 -3.67314e-05 113.4 0.0999629 112.6 0.999963ZM129.9 56.9C148.6 60.5 164.9 73 173.5 90.1C178.2 99.6 180 107 180 117.9C180 129.2 178.2 137.1 173.1 146.8C164.4 163.8 148.6 175.7 129.6 179.5C124.1 180.6 111.9 180.6 106.4 179.5C84.8 175.3 67 160 59.5 139.4C55.1 127.3 54.7 112.9 58.3 100.1C59.9 94.7 64.2 85.8 67.7 81.1C77.5 67.9 91.9 59.1 108.4 56.4C113.7 55.6 124.5 55.9 129.9 56.9Z" fill="#0099FF"/>
                        <path d="M111 83.7C104.2 85.1 98.6001 88.1 93.3001 93.4C87.9001 98.8 85 104.3 83.6 111.4C79.4 133.8 97.4001 155 119.6 153.9C132.5 153.2 143.2 145.9 149.3 133.9C153.8 124.9 154.1 113.9 150.2 104.4C143.9 89.2 127.3 80.4 111 83.7ZM125.4 99.1C136.6 103.3 141.5 116.6 136 127.7C130 139.8 113.5 142.5 103.9 132.9C92.8 121.7 97.6 102.6 112.5 98.6C116.3 97.5 121.8 97.7 125.4 99.1Z" fill="#0099FF"/>
                    </svg>
				</span>
				<div>
					<h2 class="text-xl font-semibold text-neutral-800 dark:text-white">Visión</h2>
					<p class="mt-2 text-neutral-600 dark:text-neutral-300">
						Ser un grupo de estudio inclusivo y motivador, reconocido por su compromiso con la excelencia académica en matemáticas, donde cada miembro se sienta empoderado para alcanzar su máximo potencial y desarrollar una pasión duradera por el aprendizaje.
					</p>
				</div>
			</div>
		</Col>

		<!-- Columna derecha: Imagen y botón -->
		<Col span="6" classes="flex flex-col items-center justify-center gap-6">
			<img class="w-64 h-64 xl:w-80 xl:h-80 rounded-full object-cover shadow-lg border-4 border-white dark:border-gray-700"
				src={imagePath('gabriel.jpeg', 'nosotros')}
				alt="Gabriel"
			/>
			<button data-src={imagePath('constancia-sunedu.pdf', 'nosotros')} 
			data-title="Constancia Sunedu"
			data-description="Constancia de estudios de Gabriel"
			arial-label="Constancia de estudios de Gabriel" 
			data-modal="serviciopdf"
			type="button"class="group flex items-center justify-between gap-4 rounded-lg border border-primary-500 bg-primary-500 px-7 py-2 transition-all duration-300 hover:bg-white hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-primary-300 dark:hover:bg-primary-400">
				<span class="text-xl font-bold text-white group-hover:text-primary-500 dark:text-white dark:group-hover:text-white">
					Constancia Sunedu
				</span>

				<span class="shrink-0 rounded-full bg-blue-500 shadow-md ring-1 ring-primary-200 dark:bg-primary-500/10 dark:ring-primary-500 p-2 transition-transform duration-300 group-hover:scale-105">
					<Image src={badge} alt="Constancia Sunedu" class="h-16 w-16" />
				</span>
			</button>
		</Col>
	</Row>
</Section>

<style> 
    .button {
		@apply inline-flex cursor-pointer items-center justify-center gap-2 whitespace-nowrap rounded font-bold tracking-wide transition duration-300 focus-visible:outline-none disabled:cursor-not-allowed disabled:shadow-none;
	}

    .button--lg {
		@apply h-12 px-6 text-sm [&.button--elevated]:shadow-lg [&.button--elevated]:hover:shadow-md [&.button--elevated]:focus:shadow-md;
	}

    .button--primary {
		@apply bg-primary-500 text-white hover:bg-primary-700 focus:bg-primary-700 disabled:border-primary-300 disabled:bg-primary-300 [&.button--elevated]:shadow-lg [&.button--elevated]:shadow-primary-500/30 [&.button--elevated]:hover:shadow-primary-500/30 [&.button--elevated]:focus:shadow-primary-500/30 [&.button--link]:bg-transparent [&.button--link]:text-primary-500 hover:[&.button--link]:text-primary-600 focus:[&.button--link]:text-primary-600 [&.button--outline]:border-primary-500 [&.button--outline]:bg-transparent [&.button--outline]:text-primary-500 [&.button--outline]:hover:border-primary-600 [&.button--outline]:hover:text-primary-600;
	}

</style>
