---
// FAQ with sticky sidebar
// ------------
// Description: an FAQ section with the title as a sticky sidebar.

// Components
// - UI
import StickySidebar from '../basic/StickySidebar.astro'
import FAQ from '../../ui/AccordionEstrategia.astro'
import Card from '../../ui/cards/partials/Card.astro'



// Data
import faqData from '../../../data/json-files/faqData.json'
// - FAQ Categories
const estrategias = faqData.filter((faq) => faq.category === 'estrategia')

// Props
type Props = {
	title: string
	text?: string
	// biome-ignore lint/suspicious/noExplicitAny: <explanation>
	data: any
	type?: 'left' | 'right'
	classes?: string
}
const { title, text, data, type = 'left', classes } = Astro.props
---

<StickySidebar classes={classes} type={type}>
	<header slot="sidebar">
		{title && <h3 class="text-3xl">{title}</h3>}
		{text && <p class="text-lg leading-relaxed">{text}</p>}
	</header>

	<Card classes="divide-y dark:divide-neutral-800">
		{estrategias.map((faq: any) => <FAQ title={faq.question} desc={faq.description} text={faq.reply} open={faq.open} />)}
	</Card>
</StickySidebar>
