---
// Props
type Props = {
  title?: string
  sylabus?: string
  imagen?: string
  servicio?: string
}

const {
  title = '',
  sylabus = 'sylabus.pdf',
  imagen = '',
  servicio = ''
} = Astro.props

const imagePath = (file: string, folder: string) => `/assets/servicios/${folder}/img/${file}`;
const pdfPath = (file: string, folder: string) => `/assets/servicios/${folder}/syllabus/${file}`;
---

<div class="flex flex-col items-center justify-center w-full max-w-xs mx-auto">
  <!-- Imagen como fondo redimensionado -->
  <div
    class="w-full h-[340px] bg-gray-300 bg-center bg-cover rounded-t-lg shadow-md"
    style={`background-image: url('${imagePath(imagen, servicio)}')`}
  ></div>

  <!-- Contenedor de contenido -->
  <div class="w-full bg-white dark:bg-neutral-800 shadow-lg rounded-b-lg">
    <h3 class="py-3 font-bold text-center text-gray-800 uppercase dark:text-white text-lg tracking-wide">
      {title}
    </h3>

    <div class="flex items-center justify-between px-4 py-3 bg-gray-100 dark:bg-neutral-700 text-sm">
      
      <button
        data-src={pdfPath(sylabus, servicio)}
        data-title={title}        
        type="button"
        data-modal="serviciopdf"
        class="verpdf px-2 py-1 text-xs font-semibold text-white uppercase bg-primary-500 rounded hover:bg-primary-600"
      >
        Ver
      </button>
    </div>
  </div>
</div>
<!--ModalPdf id={`modal-${title.toLowerCase()}`} title={title} src={pdfPath(sylabus, servicio)} /-->
