---
// Header - Navigation bar
// ------------
// Description: navigation bars offer a persistent and convenient way to switch between primary destinations in an app.
// Structure:
// - Logo: the logo of the website
// - Menu toggle: the mobile menu toggle of the navigation bar
// - Navigation Links: the navigation links of the menu
// - Actions: action buttons for the navigation bar
// - Theme Switcher: the mode (light/dark) switcher of the website

// Reference: https://wind-ui.com/components/navbars/

// Components
// - UI
import { Icon } from 'astro-icon/components'
import Switcher from './ModeSwitcher.astro'

// Data
import { navigationBarData } from '../../config/navigationBar'
const { logo, navItems } = navigationBarData

// Determine current path
const path = new URL(Astro.request.url).pathname
function isActivePath(currentPath: string): boolean {
    return path === currentPath || path === `${currentPath}/`
}

// Type assertion for navActions to ensure type safety
---

<header class="header border-b border-black">
    <div class="header__container">
        <nav aria-label="main navigation" role="navigation" class="header__nav">
            <div class="header__logo-container">
                <a href="/" class="header__logo">
                    <img src={logo.src} alt={logo.alt} class="header__logo-image" />
                    <img src={logo.favicon} alt={logo.alt} class="header__favicon-image" />
                    <span class="hidden">{logo.text}</span>
                </a>
                <a href="tel:+51917584188" class="header__logo-mobile-number">
                    <svg class="h-7 w-7 dark:invert" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M15.5562 14.5477L15.1007 15.0272C15.1007 15.0272 14.0181 16.167 11.0631 13.0559C8.10812 9.94484 9.1907 8.80507 9.1907 8.80507L9.47752 8.50311C10.1841 7.75924 10.2507 6.56497 9.63424 5.6931L8.37326 3.90961C7.61028 2.8305 6.13596 2.68795 5.26145 3.60864L3.69185 5.26114C3.25823 5.71766 2.96765 6.30945 3.00289 6.96594C3.09304 8.64546 3.81071 12.259 7.81536 16.4752C12.0621 20.9462 16.0468 21.1239 17.6763 20.9631C18.1917 20.9122 18.6399 20.6343 19.0011 20.254L20.4217 18.7584C21.3806 17.7489 21.1102 16.0182 19.8833 15.312L17.9728 14.2123C17.1672 13.7486 16.1858 13.8848 15.5562 14.5477Z" fill="#0099FF"></path>
                            <path d="M13.2595 1.87983C13.3257 1.47094 13.7122 1.19357 14.1211 1.25976C14.1464 1.26461 14.2279 1.27983 14.2705 1.28933C14.3559 1.30834 14.4749 1.33759 14.6233 1.38082C14.9201 1.46726 15.3347 1.60967 15.8323 1.8378C16.8286 2.29456 18.1544 3.09356 19.5302 4.46936C20.906 5.84516 21.705 7.17097 22.1617 8.16725C22.3899 8.66487 22.5323 9.07947 22.6187 9.37625C22.6619 9.52466 22.6912 9.64369 22.7102 9.72901C22.7197 9.77168 22.7267 9.80594 22.7315 9.83125L22.7373 9.86245C22.8034 10.2713 22.5286 10.6739 22.1197 10.7401C21.712 10.8061 21.3279 10.53 21.2601 10.1231C21.258 10.1121 21.2522 10.0828 21.2461 10.0551C21.2337 9.9997 21.2124 9.91188 21.1786 9.79572C21.1109 9.56339 20.9934 9.21806 20.7982 8.79238C20.4084 7.94207 19.7074 6.76789 18.4695 5.53002C17.2317 4.29216 16.0575 3.59117 15.2072 3.20134C14.7815 3.00618 14.4362 2.88865 14.2038 2.82097C14.0877 2.78714 13.9417 2.75363 13.8863 2.7413C13.4793 2.67347 13.1935 2.28755 13.2595 1.87983Z" fill="#0099FF"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4857 5.3293C13.5995 4.93102 14.0146 4.7004 14.4129 4.81419L14.2069 5.53534C14.4129 4.81419 14.4129 4.81419 14.4129 4.81419L14.4144 4.81461L14.4159 4.81505L14.4192 4.81602L14.427 4.81834L14.4468 4.8245C14.4618 4.82932 14.4807 4.8356 14.5031 4.84357C14.548 4.85951 14.6074 4.88217 14.6802 4.91337C14.8259 4.97581 15.0249 5.07223 15.2695 5.21694C15.7589 5.50662 16.4271 5.9878 17.2121 6.77277C17.9971 7.55775 18.4782 8.22593 18.7679 8.7154C18.9126 8.95991 19.009 9.15897 19.0715 9.30466C19.1027 9.37746 19.1254 9.43682 19.1413 9.48173C19.1493 9.50418 19.1555 9.52301 19.1604 9.53809L19.1665 9.55788L19.1688 9.56563L19.1698 9.56896L19.1702 9.5705C19.1702 9.5705 19.1707 9.57194 18.4495 9.77798L19.1707 9.57194C19.2845 9.97021 19.0538 10.3853 18.6556 10.4991C18.2607 10.6119 17.8492 10.3862 17.7313 9.99413L17.7276 9.98335C17.7223 9.96832 17.7113 9.93874 17.6928 9.89554C17.6558 9.8092 17.5887 9.66797 17.4771 9.47938C17.2541 9.10264 16.8514 8.53339 16.1514 7.83343C15.4515 7.13348 14.8822 6.73078 14.5055 6.50781C14.3169 6.39619 14.1757 6.32909 14.0893 6.29209C14.0461 6.27358 14.0165 6.26254 14.0015 6.25721L13.9907 6.25352C13.5987 6.13564 13.3729 5.72419 13.4857 5.3293Z" fill="#0099FF"></path>
                        </g>
                    </svg>&nbsp;917584188
                </a>
            </div>

            <button
                id="header-toggle"
                class="header__toggle"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <div class="header__toggle-inner">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </button>

            <ul role="menubar" aria-label="Select page" class="header__menu">
                {
                    navItems.map((item) => (
                        <li role="none" class="header__menu-item">
                            {!item.submenu ? (
                                <a
                                    href={item.link}
                                    role="menuitem"
                                    class={`header__menu-link ${isActivePath(item.link) ? 'active' : ''}`}
                                >
                                    {item.name}
                                </a>
                            ) : (
                                <span
                                    role="menuitem"
                                    class={`header__menu-link ${isActivePath(item.link) ? 'active' : ''}`}
                                >
                                    {item.name}
                                    <Icon name="chevron-down" class="header__menu-chevron" />
                                </span>
                            )}
                            {item.submenu && (
                                <ul class="header__submenu">
                                    {item.submenu.map((subItem) => (
                                        <li role="none" class="header__submenu-item">
                                            <a
                                                href={subItem.link}
                                                role="menuitem"
                                                class={`header__menu-link ${isActivePath(item.link) ? 'active' : ''}`}
                                            >
                                                {subItem.name}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </li>
                    ))
                }
            </ul>

            <Switcher />

            <div class="header__actions">

            </div>
        </nav>
    </div>
</header>

<style>
    .header {
        @apply sticky top-0 z-20 w-full animate-fadeInShadowLight [animation-range:0%_20rem] [animation-timeline:scroll()] before:absolute after:absolute after:left-0 after:top-full after:z-10 after:block after:h-px after:w-full lg:after:hidden dark:animate-fadeInShadowDark dark:[animation-range:0%_20rem] dark:[animation-timeline:scroll()];
    }
    .header:before {
        @apply block h-full w-full bg-white/90 lg:backdrop-blur-sm dark:bg-neutral-900/90;
    }
    .header__container {
        @apply relative mx-auto max-w-full px-6 lg:max-w-5xl xl:max-w-7xl 2xl:max-w-[96rem];
    }
    .header__logo-container {
        @apply flex items-center justify-between w-full; /* Centrar el contenido */
    }
    .header__logo {
        @apply flex items-center gap-2 whitespace-nowrap py-3 font-headings text-2xl font-black tracking-wider focus:outline-none;
    }
    .header__logo-image {
        @apply dark:invert h-24 w-auto object-cover object-center;
    }

    .header__favicon-image {
        @apply dark:invert h-20 w-auto object-cover object-center;
    }
    .header__logo-mobile-number {
        @apply ml-2 font-bold text-neutral-700 flex items-center justify-center dark:text-neutral-50; /* Centrar el texto y el icono */
        text-decoration: none;
        color: inherit;
    }

    .header__phone-icon {
        width: 24px; /* Ajusta el tamaño del icono según necesites */
        height: 24px;
        margin-right: 0.5rem; /* Espacio entre el icono y el texto */
        fill: currentColor; /* Hereda el color del texto */
    }

    /* Estilo para pantallas pequeñas (móviles) - hasta el breakpoint 'sm' de Tailwind (640px) */
    @media (max-width: 639px) {
        .header__logo-mobile-number {
            font-size: 1.3rem; /* Tamaño grande para móviles */
        }
        .header__logo-image {
            @apply hidden; /* Ajusta el tamaño de la imagen del logo para móviles */
        }
    }

    /* Estilo para pantallas medianas y grandes (no móviles) - desde el breakpoint 'sm' de Tailwind (640px) */
    @media (min-width: 640px) {
        .header__logo-mobile-number {
            font-size: 1.5rem; /* Tamaño más pequeño para no móviles */
        }
        .header__favicon-image {
            @apply hidden; /* Ajusta el tamaño de la imagen del logo para móviles */
        }
    }
    .header__logo-mobile-number:hover,
    .header__logo-mobile-number:focus {
        opacity: 0.8;
    }
    .header__nav {
        @apply flex h-[5.5rem] items-stretch gap-6 font-medium text-neutral-700 lg:justify-between dark:text-neutral-50;
    }
    .header__menu {
        @apply invisible absolute left-0 top-0 z-[-1] ml-auto h-dvh w-full justify-center overflow-hidden overflow-y-auto overscroll-contain bg-white/90 px-8 py-[6rem] font-medium opacity-0 transition-[opacity,visibility] duration-300 lg:visible lg:relative lg:top-0 lg:z-0 lg:flex lg:h-full lg:w-auto lg:items-stretch lg:overflow-visible lg:bg-white/0 lg:px-0 lg:py-0 lg:pt-0 lg:opacity-100 dark:bg-neutral-900/90 dark:lg:bg-transparent;
    }
    .header__menu--open {
        @apply visible opacity-100 backdrop-blur-sm;
    }
    .header__menu-item {
        @apply relative flex cursor-pointer flex-col items-stretch lg:flex-row;
    }
    .header__menu-link {
        @apply relative flex items-center gap-1 py-4 transition-colors duration-300 hover:text-primary-500 focus:text-primary-600 focus:outline-none focus-visible:outline-none lg:px-6 [&.active]:text-primary-500 whitespace-nowrap;
    }
    .header__menu-chevron {
        @apply h-4 w-4 transition-transform [.header\_\_menu-item.open_&]:rotate-180;
    }
    .header__submenu {
        @apply left-0 top-full hidden animate-dropdown rounded bg-neutral-300/10 px-4 lg:absolute lg:min-w-48 lg:rounded-t-none lg:bg-white/90 lg:p-0 lg:shadow-lg lg:shadow-neutral-700/5 lg:backdrop-blur-sm dark:bg-neutral-500/10 lg:dark:bg-neutral-900/90 lg:dark:shadow-neutral-950/50 [.header\_\_menu-item.open_&]:block;
    }
    .header__submenu-item {
        @apply hidden [.header\_\_menu-item.open_&]:block;
    }
    .header__submenu-link {
        @apply px-8 py-4 hover:text-primary-500 [.header\_\_menu-item.open_&]:flex;
    }
    .header__toggle {
        @apply relative order-10 block h-10 w-10 self-center lg:hidden [&--open]:visible [&--open]:opacity-100;
    }
    .header__toggle-inner {
        @apply absolute left-1/2 top-1/2 w-6 -translate-x-1/2 -translate-y-1/2 transform;
    }
    .header__toggle-inner span {
        @apply absolute block h-0.5 transform rounded-full bg-neutral-900 transition-all duration-300 dark:bg-white;
    }
    .header__toggle-inner span:nth-child(1) {
        @apply w-9/12 -translate-y-2 [.header\_\_toggle--open_&]:w-6 [.header\_\_toggle--open_&]:translate-y-0 [.header\_\_toggle--open_&]:rotate-45;
    }
    .header__toggle-inner span:nth-child(2) {
        @apply w-6 [.header\_\_toggle--open_&]:-rotate-45;
    }
    .header__toggle-inner span:nth-child(3) {
        @apply w-1/2 origin-top-left translate-y-2 [.header\_\_toggle--open_&]:w-0;
    }
    .header__actions {
        @apply fixed bottom-0 left-0 hidden w-full items-center justify-between gap-4 border-t border-neutral-100 bg-white px-6 py-4 lg:relative lg:ml-auto lg:flex lg:w-auto lg:border-none lg:bg-transparent lg:px-0 lg:py-0 dark:border-neutral-800 dark:bg-neutral-950 lg:dark:bg-transparent [.header\_\_menu--open~&]:flex;
    }
</style>